.editor-colors {
  background-color: #232a31;
  color: #e8e8e8;
}
.editor {
  background-color: #232a31;
  color: #e8e8e8;
}
.editor .wrap-guide {
  background-color: #38434f;
}
.editor .indent-guide {
  color: #38434f;
}
.editor .invisible-character {
  color: #e8e8e8;
}
.editor .gutter {
  background-color: #232a31;
  color: #4e5d6c;
}
.editor .gutter .line-number.cursor-line {
  background-color: #38434f;
  color: #1a1a1a;
}
.editor .gutter .line-number.cursor-line-no-selection {
  color: #818a8a;
}
.editor .gutter .line-number.folded,
.editor .gutter .line-number:after,
.editor .fold-marker:after {
  color: #7e90a2;
  padding-left: 15px;
}
.editor .invisible {
  color: #ffffff;
}
.editor .cursor {
  color: #6aa220;
}
.editor .selection .region {
  background-color: #1a1a1a;
}
.editor .search-results .marker .region {
  background-color: transparent;
  border: 1px solid #f87620;
}
.editor .search-results .marker.current-result .region {
  border: 1px solid #f87620;
}
.comment {
  color: #86cd28;
  font-style: italic;
}
.entity.name.type {
  color: #818a8a;
}
.entity.other.inherited-class {
  color: #6aa220;
}
.keyword {
  color: #4e5d6c;
}
.keyword.control {
  color: #9ba3a3;
}
.keyword.operator {
  color: #4e5d6c;
}
.keyword.other.special-method {
  color: #818a8a;
}
.keyword.other.unit {
  color: #fbb383;
  padding-left: 3px;
}
.storage {
  color: #4e5d6c;
}
.constant {
  color: #f87620;
}
.constant.character.escape {
  color: #86cd28;
}
.constant.numeric {
  color: #f87620;
}
.constant.other.color {
  color: #f87620;
}
.constant.other.symbol {
  color: #6aa220;
}
.variable {
  color: #818a8a;
}
.variable.interpolation {
  color: #ab1717;
}
.variable.parameter.function {
  color: #4e5d6c;
}
.invalid.illegal {
  background-color: #d81d1d;
  color: #232a31;
}
.string {
  color: #6aa220;
}
.string.regexp {
  color: #e64242;
}
.string.regexp .source.ruby.embedded {
  color: #f87620;
}
.string.other.link {
  color: #d81d1d;
}
.punctuation.definition.comment {
  color: #f5f5f5;
}
.punctuation.definition.string,
.punctuation.definition.variable,
.punctuation.definition.parameters,
.punctuation.definition.array {
  color: #818a8a;
}
.punctuation.definition.heading,
.punctuation.definition.identity {
  color: #63768a;
}
.punctuation.definition.bold {
  color: #fa9451;
  font-style: bold;
}
.punctuation.definition.italic {
  color: #cceda1;
  font-style: italic;
}
.punctuation.section.embedded {
  color: #ab1717;
}
.support.class {
  color: #fa9451;
}
.support.function {
  color: #fa9451;
}
.support.function.any-method {
  color: #63768a;
}
.entity.name.function {
  color: #818a8a;
}
.entity.name.class,
.entity.name.type.class {
  color: #818a8a;
}
.entity.name.section {
  color: #63768a;
}
.entity.name.tag {
  color: #818a8a;
}
.entity.other.attribute-name {
  color: #f87620;
}
.entity.other.attribute-name.id {
  color: #63768a;
}
.meta.class {
  color: #f5f5f5;
}
.meta.link {
  color: #f87620;
}
.meta.require {
  color: #63768a;
}
.meta.selector {
  color: #cceda1;
}
.meta.separator {
  background-color: #e8e8e8;
  color: #ffffff;
}
.none {
  color: #ffffff;
}
.markup.bold {
  color: #f87620;
  font-style: bold;
}
.markup.changed {
  color: #f8c9c9;
}
.markup.deleted {
  color: #d81d1d;
}
.markup.italic {
  color: #cceda1;
  font-style: italic;
}
.markup.heading .punctuation.definition.heading {
  color: #63768a;
}
.markup.inserted {
  color: #6aa220;
}
.markup.list {
  color: #d81d1d;
}
.markup.quote {
  color: #f87620;
}
.markup.raw.inline {
  color: #6aa220;
}
.source.gfm .markup {
  -webkit-font-smoothing: auto;
}
.source.gfm .markup.heading {
  color: #6aa220;
}
.editor.mini .scroll-view {
  padding-left: 1px;
}
