// These colors are specific to the theme. Do not use in a package!

@dark-blue: #232A31;
@med-blue: #38434F;
@light-blue: #4E5D6C;

@dark-gray: #818A8A;
@med-gray: #E8E8E8;
@light-gray: #F5F5F5;

@orange: #FF6600;
@red: #D81D1D;
@green: #6AA220;

@white: #FFFFFF;
@black: #000000;



@very-light-gray: #c5c8c6;
@gray: #373b41;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@light-orange: #f0c674;
